@import '../../global-styles.scss';
section {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 0 20px;
}
.landing-page {
  .introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    .introduction-title-container {
      margin: 50px 0;
      h2 {
        font-weight: 200;
        font-size: 5rem;
        margin: 1rem 0;
        .logo {
          fill: white;
          height: 3rem;
          width: 3rem;
          margin-left: 1rem;
          transform: translate(-80vh, 80vh,);
          animation: rocket-fly 1s 0.5s ease-out forwards;
        }
      }
      .button {
        margin: 2rem 0 0 auto;
        transform: translateY(0);
        display: block;
        &:hover {
          transform: translateY(-0.3rem);
        }
      }
    }
    .introduction-picture {
      display: block;
      width: 110%;
      max-width: 700px;
      height: auto;
    }
  }
}

#pricing {
  
  .animated-svg {
    height: auto;
    width: 120px;
    display: block;
    margin: auto;
    path {
      fill: transparent;
      stroke-width: 10;
      stroke: $platinum;
      stroke-dasharray: 400%;
      stroke-dashoffset: 800%; /*Si vols que estiguin plenes, deixa-ho a 800%, si no, deixa-ho a 400%*/
      transition: all 2.5s ease-out;
      
    }

    // &:hover  path {
    //   stroke-dashoffset: 0%;
    //   animation: color-fill 0.8s 1.2s ease-out forwards;
    // }
  }
  #gaming-svg path {
    stroke-width: 0.8 !important;
  }
  
  .pricing-plans-container {
    
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  .pricing-plans {
    max-width: 300px;
    margin: 2rem;
    flex: 300px;
    &:hover .animated-svg path {
      stroke-dashoffset: 0%;
      animation: color-fill 0.8s 1.2s ease-out forwards;
    }

    .pricing-plans-card {
      margin-top: 2rem;
      display: block;
      width: 100%;
      height: 65%;
      padding: 1.5rem;
      border-radius: 3rem;
      background: $platinum;
      * {
        color: $navy;
      }
      h3 {
        font-family: $title-font;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 200;
      }
      .price-tag{
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        margin: 1rem;
      }
      
    }
  }

  
}
.stars-container {
  overflow: hidden;
  position: relative;
  height: 20vw;
  width: 200%;
  left: 50%;
    transform: translateX(-50%);
  //background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  .stars-title-1 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 101%;
    font-size: 18vw;
    font-family: $title-font;
    background-color: white;
    
    color: black;
    mix-blend-mode: screen;
  }
  .stars-title-2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 101%;
    font-size: 18vw;
    font-family: $title-font;
    background-color: $navy;
    color: white;
    mix-blend-mode: multiply;
    text-shadow: -1px 1px 0 #fff,
              1px 1px 0 #fff,
              1px -1px 0 #fff,
             -1px -1px 0 #fff;
  }
}
.made-with {
  margin-bottom: 6rem;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .made-with-icon {
    margin: 1rem 1rem;
  }
  #redux-logo {
    height: 3rem;
    width: auto;
  }

}

@media only screen and (max-width: 700px) {
  .landing-page {
    .introduction {
      flex-direction: column;
      justify-content: flex-start ;
      align-items: center;
      .introduction-title-container {
        text-align: center;
        h2 {
          font-weight: 200;
          font-size: 3rem;
          
          .logo {
            fill: white;
            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
          }
        }
        .button {
          margin: 2rem auto 0 auto;
        }
      }
      .introduction-picture {
        width: 90%;
      }
    }
    #pricing {
      h2 {
        margin-top: 2rem;
      }
      .pricing-plans-container {
        flex-wrap: wrap;
      }
    }
  }
  .stars-container {
    width: 100% ;

  }
  .vanta-canvas {

    height: 100% !important;
  }
}

@keyframes rocket-fly {
  from {
    
    opacity: 0;
  }
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes color-fill {
  from {
    fill: transparent;
  }
  to {
    fill: $platinum;
  }
}