
/*********************************************************************************
* 
* GLOBAL STYLES
* 
* In this file, you can change the colors, fonts, etc. and the changes will apply
* to the whole app.
* 
*********************************************************************************/

$navy: rgb(36, 44, 63);
$orange: #fca311ff;
$platinum: #e5e5e5ff;
$title-font: 'Bungee', sans-serif;